<%- include('./partials/header') %> 

<h1>This is the index page for the user</h1>



<% posts.forEach(post => {%> 
    <%= post.name %> 
    -
    <%= post.date %>
    -
    <%= post.body %> 
    <a href="/post/<%= post._id %> "><button>More Info</button></a>
    <br><br>

<% })  %> 


<%- include('./partials/footer') %> 