<%- include('../partials/header') %> 

<h1>users profile page</h1>

 Name:<%= user.name  %>
 <br>
 <br>
 username:<%= user.username %> 
 <br>
 <br>
 email:<%= user.email %>  
 <br>
 <br>
 authId:<%= user.authId %> 

 <!-- posts will go down -->



<%- include('../partials/footer') %> 