<%- include('../partials/header') %> 

<h1>users profile page</h1>

 Name:<%= user.name  %>
 <br>
 <br>
 username:<%= user.username %> 
 <br>
 <br>
 email:<%= user.email %>  
 <br>
 <br>
 authId:<%= user.authId %> 
 <br>
 <br>



 <div style="display: flex;" class="container">
   <% user.posts.forEach(post => { %>
        <div style="border: solid blue 2px;" class="box">
        postName: <%= post.name %> 
        <br><br>
        <img style="height: 150px;" class="is-clipped" src="data:image/<%=post.image.imgFile.contentType%>;base64,<%=post.image.imgFile.data.toString('base64')%>" alt="">
        <br><br>
        postBody: <%= post.body %> 
        </div>
        <form action="/post/<%= post._id %>?_method=delete" method="POST">
        <input type="submit" value="DeletePost">
        </form>

    <% }) %> 


 </div>



<%- include('../partials/footer') %> 


